:root {
    --blue: #255978;
    --pink: #EECAC6;
    --lightblue: #4181A7;
}

/* MAIN PAGE */

/* for places on main page there is a scroll option */
html {
    scroll-behavior: smooth;
}

body {font-family: 'Niramit', sans-serif;
    margin: 0;}

/*This part is for navigation bar*/
.bg-img {
    /* bakcground for navigation */
    background-image: url(/images/navigation.png);
    min-height: 150px;
    background-position: top;
    background-repeat: no-repeat;
    /* position: fixed;
    z-index: +1; */
}

@media only screen and (max-width: 600px) {
    .bg-img {
        display: none;
    }
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 10fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    list-style-type: none;
    margin-top: 0;
    margin-left: 70px;
    margin-right: 70px;
    padding: 0;
}  

nav ul li {
    margin-top: 10px;
    text-align: center;
}

/* white hover for the navbar options*/
nav ul li a:hover {
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: var(--blue);
}

.logo {
    height: 40px;
}

.icon {
    height: 30px;
}

/*main part*/

/*background image*/
.bg-img2 {
    /* background-image: url(/images/Screenshot\ 2023-01-27\ at\ 15.54.18.png);
    background-size: cover;
    min-height: 1200px;
    background-repeat: no-repeat;*/
    position: relative;
}


.demo-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }

  @media only screen and (max-width: 600px) {
    .demo-bg {
        display: none;
    }
    .mobile_background {
        display: block;
        opacity: 0.6;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: -1;
    }
}

@media only screen and (min-width: 600px) {
    .mobile_background {
        display: none;
    }
}
/*intro and text*/

#visit {
    margin-left: 100px;
    font-family: 'Charmonman', cursive;
    font-size: 30px;
    color: var(--blue);
}

#brabrand {
    margin-left: 130px;
    font-size: 40px;
    color: var(--blue);
}

.text {
    margin-left: 100px;
    margin-bottom: 25%;
}

@media only screen and (max-width: 600px) {
    #visit {
        margin-left: none;
        display: flex;
        justify-content: center;
    }
    #brabrand {
        margin-left: none;
        display: flex;
        justify-content: center;
    }
    .text {
        margin-left: none;
        display: flex;
        justify-content: center;
        margin-bottom: 50%;
    }
}

/* arrow image center */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: auto;
}

.walk {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
  
.flex-container > div {
    background-image: linear-gradient(#EECAC6, #FCF6F5);
    margin: 2%;
    padding: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-container div {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .flex-container {
        flex-wrap: wrap;
    }
}

.flex_image {
    display: flex;
    justify-content: center;
    height: fit-content;
}
h4 {
    font-size: medium;
    display: flex;
    justify-content: center;
}

.flex_text {
    font-size: small;
    margin-top: 10%;
    margin-bottom: 35%;
}

/* all three "read me" buttons are styled here */
.button {
    background-color: var(--lightblue);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    margin-top: 25px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 35px;
}

.button:hover {
    background-color: white;
    color: var(--lightblue);
}
  


/*this is the footer part*/
.footer_image {
    max-height: 2.75px;
    margin-left: 70px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin-left: 70px;
    margin-right: 100px;
}

.link {
    text-decoration: none;
    color: black;
}

footer div link a:hover {
    color: white;
}

@media only screen and (max-width: 600px) {
    footer {
        display: none;
    }
}

/* 404 page */

.flex-con {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.flex-con > div {
    margin: 2%;
    padding: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-con div {
    display: flex;
    justify-content: center;
}

